code.has-jax {font: inherit;
              font-size: 100%;
              background: inherit;
              border: inherit;
              color: #515151;}

img, video {
    height: auto;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
